<nav class="navbar navbar-expand-md navbar-light bg-light d-flex justify-content-between">
    <a class="navbar-brand imgbrand" [routerLink]="['/home']">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/CamelCase_new.svg/220px-CamelCase_new.svg.png" alt="" />
    </a>
    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9868;</button>
    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <!-- Step 4: Close the menu when a link is clicked. -->
                <a class="nav-link" [routerLink]="['/courses']" (click)="isMenuCollapsed = true">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/teachers']" (click)="isMenuCollapsed = true">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/calendar']" (click)="isMenuCollapsed = true">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/enroll']" (click)="isMenuCollapsed = true">Enroll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" (click)="isMenuCollapsed = true">About</a>
            </li>
        </ul>
    </div>
</nav>
