<div class="container" *ngIf="courseList">
    <h1 class="display-2 my-5">Calendar</h1>
    <div class="rounded border p-3 my-3 bg-light" *ngFor="let course of courseList">
        <h3>{{ course.name }}</h3>
        <div class="d-flex justify-content-between mt-4">
            <p>Starts: {{ course.start }}</p>
            <p>Ends: {{ course.end }}</p>
        </div>
    </div>
</div>
