<div class="container">
    <h1 class="display-4 my-3">
        {{ teacherDetail.name }} <strong>{{ teacherDetail.surname }}</strong>
    </h1>
    <div class="d-flex flex-row flex-wrap">
        <img class="responsive" [src]="teacherDetail.avatar" alt="{{ teacherDetail.name }}" />
        <div class="d-flex flex-column ml-3">
            <h3 class="mt-3">Bio:</h3>
            <p class="card-text">{{ teacherDetail.bio }}{{ teacherDetail.bio }}{{ teacherDetail.bio }}</p>
            <h3>Teaches:</h3>
            <p class="card-text">{{ teacherDetail.teaches }}</p>
            <a [routerLink]="['/teachers']" class="btn btn-primary mb-3">Back</a>
        </div>
    </div>
</div>
