<div class="container p-5 col-sm-8 col-md-7 col-lg-6 col-xl-4">
    <form class="d-flex justify-content-center flex-column" novalidate [formGroup]="enrollForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend class="display-4">Enroll form</legend>
            <div class="form-group d-flex flex-column">
                <label class="mt-3" for="name">Name: </label>
                <input id="name" formControlName="name" type="text" />
                <small class="text-danger" *ngIf="!submitted && enrollForm.get('name')?.errors?.['pattern']">Enter a valid name</small>
                <label class="mt-3" for="surname">Surname: </label>
                <input id="surname" formControlName="surname" type="text" />
                <small class="text-danger" *ngIf="!submitted && enrollForm.get('surname')?.errors?.['pattern']">Enter a valid surname</small>
                <label class="mt-3" for="email">Email: </label>
                <input id="email" formControlName="email" type="text" />
                <small class="text-danger" *ngIf="!submitted && enrollForm.get('email')?.errors?.['pattern']">Enter a valid email</small>
                <label class="mt-3" for="phone">Phone: </label>
                <input id="phone" formControlName="phone" type="text" />
                <small class="text-danger" *ngIf="!submitted && enrollForm.get('phone')?.errors?.['pattern']">Enter a valid phone number</small>
                <label class="mt-3" for="selection">Select your course:</label>
                <div class="d-flex flex-row align-items-center">
                    <select class="form-control form-control-sm col-6 mb-1" formControlName="selection">
                        <option *ngFor="let course of courseList" [value]="course">{{ course.name }}</option>
                    </select>
                    <small class="text-danger ml-3" *ngIf="!submitted && enrollForm.get('selection')?.errors">Choose a course</small>
                </div>
                <p class="my-3 alert alert-secondary"><strong>More information will be sent to you after you submitted the enroll form.</strong></p>
            </div>
        </fieldset>
        <button class="btn bg-secondary text-light mx-5 mb-1" type="submit"><h3>Enroll</h3></button>
        <small class="text-danger mx-5 text-center" *ngIf="submitted && !this.enrollForm.valid">Fill all the fields</small>
    </form>
</div>
