<div class="container">
    <h1 class="display-2 my-5">About Us</h1>
    <h2>camelCase Online School</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus asperiores hic, mollitia facere aliquid ducimus iure laborum minima quibusdam? Obcaecati at neque
        assumenda quam tenetur placeat dolor saepe dolorum aperiam ipsum fugit debitis laudantium nostrum impedit officia corporis autem, atque ipsa eligendi omnis non vero! Nobis
        pariatur blanditiis molestiae nesciunt corrupti adipisci id, officiis ducimus ullam natus voluptate earum! Iure, in! Reiciendis atque, nulla eaque dolorem dolor suscipit
        labore veniam in, a inventore magnam qui cum tempore nihil deserunt! Beatae quam totam voluptatem distinctio libero officia exercitationem, culpa fugiat, consectetur
        voluptatibus impedit eaque aperiam perferendis possimus quia illo eligendi doloribus.
    </p>
    <h2>Wanna visit our offices?</h2>
    <div class="map my-3" id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions"></div>
    <!-- <div id="map"></div> -->
    <!-- <div #googleMap id="hello-world-map"></div> -->
    <!-- <h1>{{ title }}</h1> -->
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->
</div>
