<div class="container">
    <h1 class="card-title my-3">{{ courseDetail.course }}</h1>
    <div class="d-flex flex-wrap">
        <img class="responsive" [src]="courseDetail.image" alt="{{ courseDetail.name }}" />
        <div class="d-flex flex-column ml-3">
            <h3 class="mt-3">Description:</h3>
            <p class="card-text">{{ courseDetail.description }}{{ courseDetail.description }}{{ courseDetail.description }}</p>
            <h4><strong>Starts:</strong> {{ courseDetail.start }}</h4>
            <div>
                <fa-icon class="mx-1" [icon]="faLongArrowAltDown"></fa-icon>
            </div>
            <h4><strong>Ends:</strong> {{ courseDetail.end }}</h4>
            <a [routerLink]="['/courses']" class="btn btn-primary w-25 my-3">Back</a>
        </div>
    </div>
</div>
