<div class="container">
    <h1 class="display-2 my-5">Teachers</h1>
    <div class="d-flex flex-wrap" *ngIf="teacherList">
        <div class="d-flex flex-wrap flex-column p-3 col-sm-6 col-md-4 col-lg-3" *ngFor="let teacher of teacherList">
            <img class="img-thumbnail" [src]="teacher.avatar" alt="{{ teacher.name }}" />
            <div class="mt-2">
                <h3 class="text-center">{{ teacher.name }} {{ teacher.surname }}</h3>
            </div>

            <a [routerLink]="['./', teacher.id]" class="btn btn-primary">Meet the teacher</a>
        </div>
    </div>
</div>
