<footer class="text-lg-start bg-light justify-content-between d-flex align-items-center">
    <div class="text-lg-end p-3">&copy; {{ year }} camelCase.com</div>
    <div class="text-lg-end p-3 d-flex">
        <fa-icon class="mx-1" [icon]="faFacebookF"></fa-icon>
        <fa-icon class="mx-1" [icon]="faInstagram"></fa-icon>
        <fa-icon class="mx-1" [icon]="faTwitter"></fa-icon>
    </div>
</footer>
