<div class="container">
    <h1 class="display-2 my-5">Course List</h1>
    <div class="card-columns" *ngIf="courseList">
        <div class="card mb-5" *ngFor="let course of courseList">
            <img class="img-thumbnail p-1" [src]="course.image" alt="{{ course.name }}" />
            <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <a [routerLink]="['./', course.id]" class="btn btn-primary">I want more</a>
            </div>
        </div>
    </div>
</div>
