<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper imgfill">
            <img [src]="images[0].explore" class="img-fluid" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>Courses</h3>
            <p>Explore our wide range of courses.</p>
            <a class="btn bg-light" [routerLink]="['/courses']">Explore</a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper imgfill">
            <img [src]="images[0].meet" class="img-fluid" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3>Teachers</h3>
            <p>Learn with the best teachers.</p>
            <a class="btn bg-light" [routerLink]="['/teachers']">Meet them</a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper imgfill">
            <img [src]="images[0].enroll" class="img-fluid" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Enroll</h3>
            <p>Learn with us, change your future.</p>
            <a class="btn bg-light" [routerLink]="['/enroll']">Enroll now</a>
        </div>
    </ng-template>
</ngb-carousel>
